{% extends "layout.html" %}

<!--
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <h1>Home Page</h1>
    <button><a href="{% url 'about' %}">Go to About Page</a></button>
    <button><a href="{% url 'contact' %}">Go to Contact Page</a></button>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>
-->

{% block title %}
Home Page
{% endblock %}

{% block content %}
<h1>Home Page</h1>
<button><a href="{% url 'about' %}">Go to About Page</a></button>
<button><a href="{% url 'contact' %}">Go to Contact Page</a></button>
<script src="{% static 'script.js' %}"></script>
{% endblock %}